body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #3b3b3b;
}

/* home */
.navItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav {
  float: right;
  margin-right: 4rem;
  margin-top: 10rem;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* events */

.grid {
  display: grid;
  grid-template-columns: 30rem 50rem 1fr;
}

.title {
  text-align: center;
  font-size: 40px;
}

.pastEventsSection {
  margin-left: 4rem;
  margin-top: 4rem;
}

.upcomingEventsSection {
  margin-top: 4rem;
}

.pastEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcomingEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcomingEvent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.upcomingEventImage {
  width: 8rem;
}

.pastEventImage {
  width: 4rem;
}
