.navItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav {
  float: right;
  margin-right: 4rem;
  margin-top: 10rem;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.navItem > a {
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #3b3b3b;
}
